/*web-列表*/
.update-web-list {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #ededed;
}

.update-web-list li {
    padding: 5px 10px 3px 10px;
    border: 1px solid #ededed;
    border-bottom: none;
    box-sizing: border-box;
}

.update-web-list .tit {
    font-size: 15px;
    line-height: 2em;
}

.update-web-list .msg {
    font-size: 13px;
    display: block;
    color: #999;
    line-height: 1.7em;
}

.update-web-list .table {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px dashed #ededed;
}

.update-web-list .table .cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #999;
}

.update-web-list .table .cell * {
    vertical-align: middle;
}

/*wechat列表*/
.update-wechat-list {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #ededed;
}

.update-wechat-list li {
    padding: 5px 10px 3px 10px;
    border: 1px solid #ededed;
    border-bottom: none;
    box-sizing: border-box;
}

.update-wechat-list .tit {
    font-size: 15px;
    line-height: 2em;
}

.update-wechat-list .msg {
    font-size: 13px;
    display: block;
    color: #999;
    line-height: 1.7em;
    max-height: 3.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0.5em;
}

.update-newspaper-list {
    width: 100%;
    font-size: 0;
}

.update-newspaper-list li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
}

.update-newspaper-list a {
    display: block;
    background: #f5f5f5;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.update-newspaper-list .img {
    width: 100%;
    padding-top: 130%;
    position: relative;
    overflow: hidden;
    background: #ededed;
}

.update-newspaper-list .img img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.update-newspaper-list .box {
    width: 100%;
    padding-top: 5px;
}

.update-newspaper-list .box:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.update-newspaper-list .box .name,
.update-newspaper-list .box .date,
.update-newspaper-list .box .word {
    display: block;
    width: 50%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.update-newspaper-list .box .name i,
.update-newspaper-list .box .date i,
.update-newspaper-list .box .word i {
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    padding-right: 5px;
}

.update-newspaper-list .box .name span,
.update-newspaper-list .box .date span,
.update-newspaper-list .box .word span {
    font-size: 16px;
    line-height: 25px;
    display: inline-block;
}

.update-newspaper-list .box .word {
    width: 100%;
}

.update-newspaper-list .box .date {
    text-align: right;
}

/*图片列表*/
.update-picture {
    width: 100%;
}

.update-picture li {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    background: #ededed;
    border-radius: 4px;
}

.update-picture .img {
    position: relative;
    overflow: hidden;
}

.update-picture .img span {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 3px 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    min-width: 30px;
}

.edu-swiper {
    margin: 0 auto;
    max-width: 100%;
}

.edu-swiper img {
    max-width: 100%;
    margin: 0 auto;
}

.edu-swiper .swiper-container {
    width: 100%;
    height: 100%;
}

.edu-swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.edu-swiper .swiper-pagination {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
}

.update-new-hot-echart {
    height: 400px;
}

/*新闻热点-详情*/
.update-hot-box1 {
    margin-top: 10px;
    padding: 10px;
}

.update-hot-box2 {
    padding-top: 1%;
    padding-bottom: .6%;
}

.update-hot-t1 {
    font-size: 14px;
}

.update-hot-t2 {
    font-style: normal;
    font-weight: bold;
    color: orange;
    font-size: 16px;
}

.update-hot-t3 {
    font-size: 14px;
}

.update-hot-t3 i {
    display: inline-block;
    background: -webkit-linear-gradient(top, #fff, #f9f9f9);
    background: -moz-linear-gradient(top, #fff, #f9f9f9);
    background: -ms-linear-gradient(top, #fff, #f9f9f9);
    background: -o-linear-gradient(top, #fff, #f9f9f9);
    border-radius: 4px;
    padding: 0 3px;
    border: 1px solid #ededed;
    font-style: normal;
    color: #7ed53f;
    font-weight: bold;
    margin: 0 2px;
}

/*赋值样式*/
.update-layui-btn {
    color: transparent !important;
    padding: 0;
    width: 100%;
    background: #fff;
    background: url('./img/search.png') center no-repeat;
    background-size: 20px auto;
    border: 1px solid #e6e6e6;
    border-left: none;
}

.input-time {
    height: 30px;
    line-height: 30px;
}

.update-input-time {
    padding-right: 50px;
    padding-left: 0;
    position: relative;
    background: url('./img/date.png') 99% center no-repeat;
    background-size: 20px auto;
    border: none;
}

.update-input-time2 {
    width: 40px;
    height: 30px;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    position: relative;
    background: url('./img/date.png') center no-repeat;
    background-size: 20px auto;
    border: none;
    cursor: pointer;
    padding: 0;
}

.update-input-time2::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0);
}

.update-input-time2:-moz-placeholder {
    color: rgba(0, 0, 0, 0);
}

.update-input-time2::-moz-placeholder {
    color: rgba(0, 0, 0, 0);
}

.update-input-time2:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
}

.update-input-select + .layui-form-select {
    width: 40px;
    height: 30px;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    position: relative;
    background: url('./img/select.png') center no-repeat;
    background-size: 20px auto;
    border: none;
    cursor: pointer;
    padding: 0;
}

.update-input-select + .layui-form-select input {
    height: 30px;
}

.update-input-select + .layui-form-select .layui-select-title {
    opacity: 0;
}

.update-input-select + .layui-form-select dl dd {
    color: #333;
}

/*editor*/
.editor-news-title ul {
    width: 100%;
}

.editor-news-title ul li {
    position: relative;
    padding-left: 5em;
}

.editor-news-title ul li aside {
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    line-height: 38px;
}

.editor-news-content {
    /*box-sizing: border-box;*/
    /*padding-left: 5em;*/
    position: relative;
}

.editor-other-t1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    line-height: 38px;
}

.editor-news-box {
    border-radius: 2px;
    border: 1px solid #ededed;
    padding: 10px;
    box-sizing: border-box;
}

.editor-news-box * {
    font-size: 16px;
    line-height: 1.7em;
    max-width: 100%;
}

.no-editable-box {
    width: 100%;
    margin: 0 0 .2em 0;
    color: #333;
}

.editable-box {
    outline: none;
    width: 100%;
}

.editable-hr {
    margin: 1em 0;
}

.edit-tit1 {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #ccc;
}

.create-list1 {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #ededed;
}

.create-list1 li {
    border: 1px solid #ededed;
    border-bottom: none;
    padding: 10px;
}

.create-list1 .t1 {
    font-size: 15px;
    color: #333;
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
}

.create-list1 .t2 {
    font-size: 13px;
    color: #999;
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0.5em 0;
}

.create-list1 .msg {
    position: relative;
    padding-right: 60px;
}

.create-list1 .msg:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.create-list1 .left {
    font-size: 13px;
    color: #666;
    width: 70%;
    float: left;
}

.create-list1 .right {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    text-align: center;
    color: #999;
}

.create-list1 .right i {
    margin: 0 3px;
}
